.userCard
  display: flex
  gap: 20px
  padding: 24px
  background-color: var(--white-color)
  border-radius: 16px

  .image
    width: 112px
    height: 120px
    border-radius: 8px

  .userCardInfo
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between

    .userCardInfoPart
      display: flex
      flex-direction: column
      gap: 4px

      .name
        width: 80%
        height: 28px

      .job
        width: 50%
        height: 22px

    .city
      width: 70%
      height: 20px
